{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<!-- Five -->
<section id="five" class="wrapper special fade">
    <div class="container">
        <header>
            <h2>Veuillez-vous connectez pour accéder à l'application APPTHD</h2>
        </header>
        <!-- Form -->
		<section>
			<form method="post">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}
				<div class="row gtr-uniform gtr-50">
					<div class="col-6 col-12-xsmall">
						<input type="email" value="{{ last_username }}" name="email" placeholder="E-mail" class="form-control" required autofocus>
					</div>
					<div class="col-6 col-12-xsmall">
						<input type="password" name="password" placeholder="Mot de passe" class="form-control" required>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					</div>
					<div class="col-12">
						<ul class="actions">
							<li>    
								<button class="button primary" type="submit">Connexion</button>
							</li>
						</ul>
					</div>
				</div>
			</form>
		</section>
            <h2>Contrôles sur les raccordements au réseaux trés haut débit</h2>
			<span href="#" class="image fit"><img src="https://www.ariegetreshautdebit.fr/images/2020-11-04_VF_Pop-up_controle_des_raccordements.jpg" alt="" /></span>
    </div>
</section>

{% endblock %}
