{% extends 'base.html.twig' %} 
{% block title %}Hello AppController!{% endblock %} 
{% block body %}
<header class="major">
	<h2>Les offres fibres</h2>
	<p>Ipsum dolor feugiat aliquam tempus sed magna lorem consequat accumsan</p>
</header>
<div class="row gtr-150">
	<div class="col-8 col-12-medium">
		<!-- Content -->
		<section id="content">
			<a href="#" class="image fit"><img src="images/pic06.jpg" alt="" /></a>
			<h3>Qu'est-ce que le très haut débit ?</h3>
			<span class="image left">
				<img src="https://lh3.googleusercontent.com/proxy/2K2M20EeI4A1U6ZlrHn57lwkkfYk5A-dXJ7qiUIPSvHF-l2ozBj-5i8rov2hP3Vn9NkQIEK-tR23e20jFMsCRgjDyV8awnf_XWtP2fpkdxUBf0LWD7vBVsZuUzD-B3SAfg" alt="" />
			</span>
			<p>Pour atteindre ses objectifs très ambitieux : 100% des foyers  avec au moins un débit Internet de 100Mbits/s, Ariège Très Haut Débit déploie un Réseau Régional qui s’appuie sur des technologies variées :</p>
			<p>Un programme de montée en Débit DSL, qui permettra de rapprocher les équipements des opérateurs au plus près des utilisateurs.</p>
			<p>Au quotidien cela vous permettra :</p>
			<p>Un programme de déploiement Fibre Optique FttH, qui permettra d’apporter la Fibre directement dans le salon des utilisateurs.</p>
			<p>Le très haut débit est un accès à Internet performant, qui permet d’envoyer et de recevoir un grand nombre de données (documents, photos, vidéos, etc.) dans un temps court. L’accès à Internet est considéré à « très haut débit » dès que le débit est supérieur à 30 Mégabits par seconde.</p>
			<p>Le terme de débit désigne la quantité d’informations qu’un réseauEnsemble de matériels, y compris les canalisations, géré par un ou des opérateur(s)/distributeur(s) en amont du point de livraison permettant la distribution d’énergie électrique ou des services de communication.... permet de transférer en un temps donné. Il est exprimé en « bit », une unité de mesure de la quantité de données susceptible de circuler dans un réseauEnsemble de matériels, y compris les canalisations, géré par un ou des opérateur(s)/distributeur(s) en amont du point de livraison permettant la distribution d’énergie électrique ou des services de communication.... :</p>
			<p> En kilobits, mégabits ou gigabits selon le niveau du débit. Plus le débit est élevé, plus la vitesse de transmission et de réception des données (documents, vidéos, musiques, etc.) est rapide.</p>
			<ul>
				<li>Faucibus orci lobortis ac adipiscing integer.</li>
				<li>Col accumsan arcu mi aliquet placerat.</li>
				<li>Lobortis vestibulum ut magna tempor massa nascetur.</li>
				<li>Blandit massa non blandit tempor interdum.</li>
				<li>Lacinia mattis arcu nascetur lobortis.</li>
			</ul>
		</section>
	</div>
	<div class="col-4 col-12-medium">
		<!-- Sidebar -->
		<section id="sidebar">
			<section>
				<h3>Magna Feugiat</h3>
				<span class="image fit">
					<img src="https://lh3.googleusercontent.com/proxy/2K2M20EeI4A1U6ZlrHn57lwkkfYk5A-dXJ7qiUIPSvHF-l2ozBj-5i8rov2hP3Vn9NkQIEK-tR23e20jFMsCRgjDyV8awnf_XWtP2fpkdxUBf0LWD7vBVsZuUzD-B3SAfg" alt="" />
				</span>
				<footer>
					<ul class="actions">
						<li><a href="#" class="button">En savoir plus</a></li>
					</ul>
				</footer>
			</section>
			<hr />
			<section>
				<a href="#" class="image fit"><img src="https://www.anjou-numerique.fr/wp-content/uploads/Anjou-numerique-Tres-haut-Debit-def.jpg" alt="" /></a>
				<h3>Amet Lorem Tempus</h3>
				<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
				<footer>
					<ul class="actions">
						<li><a href="#" class="button">En savoir plus</a></li>
					</ul>
				</footer>
			</section>
		</section>
	</div>
</div>
{% endblock %}
			