{% extends 'base.html.twig' %} 
{% block title %}Hello AppController!{% endblock %} 
{% block body %}
<header class="major">
	<h2>Les technologies Très Haut Débit déployées</h2>
	<p>Ipsum dolor feugiat aliquam tempus sed magna lorem consequat accumsan</p>
</header>
<div class="row gtr-150">
	<div class="col-8 col-12-medium">
		<!-- Content -->
		<section id="content">
			<a href="#" class="image fit"><img src="images/pic06.jpg" alt="" /></a>
			<h3>Qu'est-ce que le très haut débit ?</h3>
			<span class="image left">
				<img src="https://www.degrouptest.com/uploads/modules/351766cc07c04286e2ad790bf02254ba.jpeg" alt="" />
			</span>
			<p>Le «très haut débit» n'a pas réellement de définition technique, la notion de «très haut» étant non chiffrée. </p>
			<p>Il s'agit avant tout d'une appellation commerciale. Comme la technologie ADSL est communément nommée le «haut débit», il est désormais courant de nommer «très haut débit» les technologies permettant des débits supérieurs à ceux de l'ADSL.</p>
			<p>En général, il s'agit de connexions câble ou fibre optique donnant accès à des débits allant de 30 Mbit/s à 1 Gbit/s (1000 mbit/s). </p>
			<p>Pour savoir réellement à quel débit vous avez accès en fonction de votre lieu d'habitation, vous devez effectuer un test d'éligibilité ADSL et Fibre. </p>
			<p>Pour connaître le débit actuel de votre connexion internet, vous pouvez utiliser le test de débit de DegroupTest.</p>
			<p>Le terme de débit désigne la quantité d’informations qu’un réseauEnsemble de matériels, y compris les canalisations, géré par un ou des opérateur(s)/distributeur(s) en amont du point de livraison permettant la distribution d’énergie électrique ou des services de communication.... permet de transférer en un temps donné. Il est exprimé en « bit », une unité de mesure de la quantité de données susceptible de circuler dans un réseauEnsemble de matériels, y compris les canalisations, géré par un ou des opérateur(s)/distributeur(s) en amont du point de livraison permettant la distribution d’énergie électrique ou des services de communication.... :</p>
			<p> En kilobits, mégabits ou gigabits selon le niveau du débit. Plus le débit est élevé, plus la vitesse de transmission et de réception des données (documents, vidéos, musiques, etc.) est rapide.</p>
			<ul>
				<li>Faucibus orci lobortis ac adipiscing integer.</li>
				<li>Col accumsan arcu mi aliquet placerat.</li>
				<li>Lobortis vestibulum ut magna tempor massa nascetur.</li>
				<li>Blandit massa non blandit tempor interdum.</li>
				<li>Lacinia mattis arcu nascetur lobortis.</li>
			</ul>
		</section>
	</div>
	<div class="col-4 col-12-medium">
		<!-- Sidebar -->
		<section id="sidebar">
			<section>
				<h3>Magna Feugiat</h3>
				<span class="image fit">
					<img src="https://lh3.googleusercontent.com/proxy/2K2M20EeI4A1U6ZlrHn57lwkkfYk5A-dXJ7qiUIPSvHF-l2ozBj-5i8rov2hP3Vn9NkQIEK-tR23e20jFMsCRgjDyV8awnf_XWtP2fpkdxUBf0LWD7vBVsZuUzD-B3SAfg" alt="" />
				</span>
				<footer>
					<ul class="actions">
						<li><a href="#" class="button">En savoir plus</a></li>
					</ul>
				</footer>
			</section>
			<hr />
			<section>
				<a href="#" class="image fit"><img src="https://www.anjou-numerique.fr/wp-content/uploads/Anjou-numerique-Tres-haut-Debit-def.jpg" alt="" /></a>
				<h3>Amet Lorem Tempus</h3>
				<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
				<footer>
					<ul class="actions">
						<li><a href="#" class="button">En savoir plus</a></li>
					</ul>
				</footer>
			</section>
		</section>
	</div>
</div>
{% endblock %}
			