{% extends 'base.html.twig' %} 
{% block title %}Hello AppController!{% endblock %} 
{% block body %}
<header class="major">
	<h2>Le Très Haut Débit pour quoi faire ?</h2>
	<p>THD (Très Haut Débit) : Que signifie cette appellation ?</p>
</header>
<div class="row gtr-150">
	<div class="col-8 col-12-medium">
		<!-- Content -->
		<section id="content">
			<a href="#" class="image fit"><img src="images/pic06.jpg" alt="" /></a>
			<h3>Qu'est-ce que le très haut débit ?</h3>
			<span class="image left">
				<img src="https://www.ariegetreshautdebit.fr/images/particuliers.png" alt="" />
			</span>
			<p>Le Très Haut Débit (abrégé THD) est un terme dont la définition suivante est donnée par l’ARCEP :</p>
			<p>Le «très haut débit» n'a pas réellement de définition technique, la notion de «très haut» étant non chiffrée. Il s'agit avant tout d'une appellation commerciale. Comme la technologie ADSL est communément nommée le «haut débit», il est désormais courant de nommer «très haut débit» les technologies permettant des débits supérieurs à ceux de l'ADSL. En général, il s'agit de connexions câble ou fibre optique donnant accès à des débits allant de 30 Mbit/s à 1 Gbit/s (1000 mbit/s). Pour savoir réellement à quel débit vous avez accès en fonction de votre lieu d'habitation, vous devez effectuer un test d'éligibilité ADSL et Fibre. Pour connaître le débit actuel de votre connexion internet, vous pouvez utiliser le test de débit de DegroupTest.</p>
			<p>Le régulateur qui publie trimestriellement un observatoire du haut et très haut débit fait toutefois la différence entre le THD avec un débit supérieur à 30 Mbit/s et le THD avec un débit d’au moins 100 Mb/s.</p>
			<p>La vitesse d’une connexion internet à Très Haut Débit vous apportera de nouveaux usages ainsi qu’un confort d’utilisation accru et ce même dans le cas d’usages simultanés.</p>
			<p>Concrètement, cela signifie que vous pourrez bénéficier au minimum d’un accès internet à 100Mb/s, grace à la fibre optique, dont le dernier boitier (pour le raccordement) sera posé à une distance maximum de 100m de votre logement.</p>
			<p>Au quotidien cela vous permettra :</p>
			<p>Un accès plus rapide à internet : le téléchargement de vos vidéos via une plate-forme légale ne prendra que quelques secondes. Vos jeux en ligne et en réseau seront plus fluides, la navigation sera plus confortable sur les sites notamment les sites de vente à distance.</p>
			<p>La possibilité de multiplier les écrans utilisés simultanément pour les usages de l’ensemble du foyer.</p>
			<p>La télévision en HD, les services de VoD et dans le cas des foyers raccordés en Fibre Optique, la télévision 3D le multi-programme sur multi-écran simultané.</p>
			<ul>
				<li>Faucibus orci lobortis ac adipiscing integer.</li>
				<li>Col accumsan arcu mi aliquet placerat.</li>
				<li>Lobortis vestibulum ut magna tempor massa nascetur.</li>
				<li>Blandit massa non blandit tempor interdum.</li>
				<li>Lacinia mattis arcu nascetur lobortis.</li>
			</ul>
		</section>
	</div>
	<div class="col-4 col-12-medium">
		<!-- Sidebar -->
		<section id="sidebar">
			<section>
				<h3>Magna Feugiat</h3>
				<span class="image fit">
					<img src="https://lh3.googleusercontent.com/proxy/2K2M20EeI4A1U6ZlrHn57lwkkfYk5A-dXJ7qiUIPSvHF-l2ozBj-5i8rov2hP3Vn9NkQIEK-tR23e20jFMsCRgjDyV8awnf_XWtP2fpkdxUBf0LWD7vBVsZuUzD-B3SAfg" alt="" />
				</span>
				<footer>
					<ul class="actions">
						<li><a href="#" class="button">En savoir plus</a></li>
					</ul>
				</footer>
			</section>
			<section>
				<a href="#" class="image fit"><img src="https://www.anjou-numerique.fr/wp-content/uploads/Anjou-numerique-Tres-haut-Debit-def.jpg" alt="" /></a>
				<h3>Amet Lorem Tempus</h3>
				<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
				<footer>
					<ul class="actions">
						<li><a href="#" class="button">En savoir plus</a></li>
					</ul>
				</footer>
			</section>
		</section>
	</div>
</div>
{% endblock %}
			